*{
    margin:0;
    padding:0;
    box-sizing:border-box;

    scroll-behavior:smooth;
}

body{

    font-family:Arial, sans-serif;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

    color:white;
}

/* Navbar */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(10px);

    position:sticky;
    top:0;
}

nav h1{
    color:#00ffff;
}

nav ul{

    display:flex;

    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{

    text-decoration:none;

    color:white;

    font-size:18px;

    transition:0.3s;
}

nav ul li a:hover{

    color:#00ffff;
}

/* Hero */

.hero{

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:100px 40px;

    flex-wrap:wrap;

    min-height:100vh;
}

.hero-text{
    max-width:500px;
}

.hero-text h2{

    font-size:55px;

    margin-bottom:20px;
}

.hero-text p{

    font-size:20px;

    margin-bottom:25px;
}

.hero-text button{

    padding:15px 35px;

    border:none;

    border-radius:10px;

    background:#00ffff;

    color:black;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.hero-text button:hover{

    transform:scale(1.08);
}

.hero-image img{

    width:350px;

    animation:float 3s infinite ease-in-out;
}

/* Animation */

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }
}

/* Cards */

.crypto-container{

    display:flex;
    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

    padding:80px 20px;
}

.crypto-card{

    width:280px;

    background:rgba(255,255,255,0.1);

    padding:30px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    text-align:center;

    transition:0.3s;
}

.crypto-card:hover{

    transform:translateY(-10px);
}

.crypto-card img{

    width:90px;

    margin-bottom:20px;
}

.crypto-card h3{

    margin-bottom:10px;
}

.crypto-card p{

    font-size:25px;

    margin-bottom:20px;
}

.crypto-card button{

    padding:12px 25px;

    border:none;

    border-radius:10px;

    background:#00ffff;

    cursor:pointer;
}

/* About */

.about{

    padding:100px 20px;

    text-align:center;
}

.about h2{

    font-size:45px;

    margin-bottom:20px;
}

.about p{

    max-width:700px;

    margin:auto;

    line-height:1.8;

    font-size:18px;
}

/* Footer */

footer{

    text-align:center;

    padding:40px 20px;

    background:rgba(255,255,255,0.1);
}